<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="content">

        <div class="login-container">
            <img src="./images/gh_logo.png" alt="" height="50px">

            <form action="/addBank" method="post">

                <div class="input-box">
                    <div class="labelInfo">Bank Account No: </div>
                    <input type="text" id="identity" placeholder="Bank Account No." name="bankAcc" required>
                </div>

                <div class="input-box">
                    <div class="labelInfo">Secret Key: </div>
                    <input type="password" id="password" placeholder="Key" name="key" required>
                </div>

                <input type="hidden" name="username" value="<%= username %>">
                <input type="hidden" name="name" value="<%= name %>">
                
                <div class="login-button">
                    <button class="book" type="submit">Add</button>
                </div>


            </form>
        </div>

    </div>
    <script src="style.js"></script>

</body>

</html>