<%- include('html') %>

<body>

    <div class="app">

        <div class="nahin-content">
            <%- include('topbar') %>
            
            <!-- subcontent starts -->
            <div class="subcontent">

                <div class="product-all">
                    <img src="./img/error.png" alt="transaction error" height="300px">
                    <div class="div">
                        <p> Dear valued customer, it seems you have insufficient balance in your account </p>
                    </div>
                </div>


            </div>
            
            
        </div>

        </div>
    </div>
    <script src="script.js">


    </script>
</body>

</html>