
<div class="top-bar" id = "top-bar">

    <div class="legend">
        <img src="./images/image-removebg-preview.png" alt="logo" height="20px">
        
        <form action="#" class="button">
            <button type="submit">Doctor</button>
        </form>
        <a href="#" class="button">Test</a>
        <a href="#" class="button">Pricing</a>
        <a href="#" class="button">Contact Us</a>
    </div>
    
    <div class="log">
        <!-- if logged in, hero name, log out visible -->            
        <form action="#" class="hero-name">
            <button type="submit">User Name</button>
        </form>
       
        <form action="#" class="log-out">
            <button type="submit">Log Out</button>
        </form>
        <!-- else login visible -->
        <a href="#" class="login">Log in</a>
    </div>

</div>
    