body    {
    background-color: #fbfbfb;
    font-family: 'DM Sans', sans-serif;
}
.super-content  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 98%;
}

.content    {
    position: relative;

    width: 99%;
    height: max-content;
    display: flex;;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.2rem;
    
    align-items: center;
    border-radius: 10px;
    
    padding-top: 3rem;
    font-family: 'DM Sans', sans-serif;
}

.subcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: fit-content;
    padding: 2rem;
}

.nahin-content    {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    position: relative;

    width: 99%;
    border-radius: 10px;
/*     
    padding-top: 3rem; */
}


.login-container    {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 3rem;

    height: 30rem;
    width: 25rem;
    margin-top: 5rem;
    position: relative;
    /* border: 1px dotted red; */

    box-shadow: 0px 0px 10px 0px #bfbfbf;
    padding-top: 5rem
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelInfo  {
    font-size: 0.8em;
    color: #757575;
    padding-left: 0.5em;
    padding-top: 0.3em;
    transition: 0.3s ease;
}

.login-button   {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: #0dc780;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);

    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    width: 8rem;
    text-align: center;
    font-size: 1em;
}

.login-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px -3px #0dc780;
}

.login-container .forgot{
    margin-top: 1rem;
    text-decoration: none;
    color: #484848;
    font-size: 0.8em;
    transition: 0.3s ease;
}

input   {
    outline: none;
    font-size: 1em;
    border: 2px solid #ebebeb;
    border-radius: 0.3em;
    transition: 0.5s ease;
    z-index: 10;
    padding-left: 0.5rem;
}
.login-button   {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: #0dc780;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);

    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    width: 8rem;
    text-align: center;
    font-size: 1em;
}

.login-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px -3px #0dc780;
}

.sidebar {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 20rem;
    /* height: 30rem; */

    margin: 2rem;
    border-radius: 1.25rem;
    /* background-color: #fff; */
    background-color: #fff;
    /* box-shadow: 0px 0px 10px -2px #bfbfbf; */

    font-family: 'DM Sans', 'Helvetica';
}

.sidebar .navigation    {
}

.sidebar .info  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: none;

    margin-top: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 100%;
    max-height: 10rem;
    border-radius: 0.5rem;
    background-color: #fff;
    /* box-shadow: 0px 0px 10px 0px #bfbfbf; */
    /* border: 2px solid #ebebeb; */
}

.sidebar .info p    {
    /* border: 1px dotted red; */
    margin: -0.005rem;
}

.sidebar .info .name {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 5600;
    color: #000;
}

.sidebar .history   {
    
    background-color: #fff;
    /* box-shadow: 0px 0px 10px 0px #bfbfbf; */

    margin-top: 1.2rem;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    /* border-radius: 0.5rem; */
    width: 100%;
    /* border: 2px solid red; */
    transition: transform ease 0.5s, border-bottom ease 0.5s;
    border-left: #0bb876 .25rem solid;

    font-family: 'Helvetica';
    font-size: 1.2rem;
}
.sidebar .history:hover {
    /* border-bottom: #0bb876 .25rem solid; */
    transform: translatey(-7px);
}

.sidebar .logout-container  {
    margin-top: 10rem;
}

.sidebar .logout   {
    
    background-color: #fff;
    /* box-shadow: 0px 0px 10px 0px #bfbfbf; */

    margin-top: 1.2rem;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    /* border-radius: 0.5rem; */
    width: 100%;
    /* border: 2px solid red; */
    transition: transform ease 0.5s, border-bottom ease 0.5s;
    border-left: #ff1f1f .25rem solid;

    font-family: 'Helvetica';
    font-size: 1.2rem;
}
.sidebar .logout:hover {
    /* border-bottom: #0bb876 .25rem solid; */
    transform: translatey(-7px);
}

.product-all    {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1.2rem;

    background-color: white;
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    border-radius: 1.25rem;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.2rem;

    /* background-color: white;
    box-shadow: 0px 0px 10px 0px #bfbfbf; */
    /* padding: 10rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;
    
    /* border: 2px solid red; */

    width: max-content;
    height: fit-content;
}

.product    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 30rem;

    /* border: 2px solid red; */
    /* padding :5rem; */
    border-radius: 1.25rem;
    box-shadow: 0 0 10px -3px #bfbfbf;
}

.product-all-history    {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    padding-bottom: 1.2rem;

    background-color: white;
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    border-radius: 1.25rem;

    margin-left: 4rem;
    margin-top: 2rem;
    padding-top: 3rem;

    width: 50%;
}


.addtoorder {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    max-width: 10rem;

    border: none;
    border-radius: 1.25rem;
    background-image: linear-gradient(to bottom, #f4ff22, #f4ff22);
    border: 1px solid #000;
    color: #000;

    transition: transform ease 0.5s, box-shadow ease 0.5s;

    font-size: 1em;
}

.addtoorder:hover   {
    transform: translateY(-05px);
    box-shadow: 0px 0px 10px 0px #626262;
}

.quantity-all   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-radius: 1.25rem;
    background-color: #000;
    box-shadow: 0px 0px 10px px #bfbfbf;
    color: white;
}

.quantity-all form  {
    width: 100%;
}

.quantity-all .quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid #292929;
    width: 95%;
    margin: 0.5rem;

    background-color: #000;
    color: white;
}

.quantity-all   input{
    width: 2rem;
    height: 2rem;
    border-radius: 0.99rem;
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}


/* button {
    background-color: #333;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 5%;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
    width: 40px;

}


button:hover {
    background-color: #555;
} */

button[type="submit"] {
    background-color: transparent;
    /* color: #fff; */
    border: none;
    font-size: 1rem;
    cursor: pointer;

    font-family: 'DS Sans';
  }
 
  .nahin-content-1    {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    position: relative;

    width: 80%;
    border-radius: 1.25rem;
    border: 2px solid #a3a3a3;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    /* background: linear-gradient(to bottom, #5a5a5a, #3b3b3b); */
    background: #fff;
}

  .order-info   {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 30%;
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem; */
    /* border: 2px solid #7e7e7e; */

    font-family: 'Poppins';
    font-size: 1.1rem;
    color: #000;
  }

  .order-state  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 30%;

    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 1.1rem;
    color: #000;
  }

  .order-state .confirm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
  }

  .order-state .confirm input {

    padding-left: 1.2rem;
    height: 4rem;
    border-radius: 1.25rem;
    border: 2px solid rgb(153, 153, 153);
    /* background-color: rgb(85, 85, 85); */
    background-color: transparent;
    color: #000;
  }

  .submit-button   {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 2rem;
    max-width: 100%;

    border-radius: 1rem;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);
    transition: background-image ease 0.5s;

    margin-top: 0.5rem;
  }
  .submit-button:hover {
    /* transform: translateY(-05px); */
    /* box-shadow: 0px 0px 10px 0px #626262; */
    background-image: linear-gradient(to bottom, #0fc07c, #0b9e65);
  }