body    {
    background-color: #F9FAF7;
    font-family: 'DM Sans', Helvetica, sans-serif;
}
.super-content  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 98%;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 93%;
    background-color: #F9FAF7;
    border-bottom: 2px solid #8D9797;
    color: #000;
}
.topbar .sub-bar  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
}

.topbar .topbar-nav {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1rem;

    margin-top: 1rem;
}

.topbar .topbar-nav .history{
    font-family: 'Helvetica';
    font-size: 1.22rem;
    /* color: #fff; */

    border-bottom: 5px solid #464646;

    transition: transform ease 0.5s, border-bottom ease 0.5s;
}

.topbar .topbar-nav .history:hover{
    transform: translatey(-7px);
    border-bottom: 5px solid #ffc400;
}

.topbar .logout-button .logout{
    border: none;
    /* background-color: white; */
    font-family: 'Helvetica';
    font-size: 1.22rem;
    /* color: #fff; */

    margin-top: 1rem;
    border-bottom: 5px solid #464646;

    transition: transform ease 0.5s, border-bottom ease 0.5s;
}

.topbar .logout-button .logout:hover{
    transform: translatey(-7px);
    border-bottom: 5px solid #ff0000;
}

.content    {
    position: relative;

    width: 99%;
    height: max-content;
    display: flex;;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.2rem;
    
    align-items: center;
    border-radius: 10px;
    
    padding-top: 3rem;
    font-family: 'DM Sans', sans-serif;
}

.subcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    gap: 1rem;

    width: 100%;
    padding: 2rem;
}

.nahin-content    {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

    width: 99%;
    border-radius: 10px;
/*     
    padding-top: 3rem; */
}

.login-container    {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 2rem;

    height: 30rem;
    width: 25rem;
    margin-top: 5rem;
    position: relative;
    /* border: 1px dotted red; */
    background-color: white;
    border-radius: 0.75rem;

    box-shadow: 0px 0px 10px 0px #bfbfbf;
    padding-top: 5rem
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.15rem;
}

.login-container input  {
    transition: border 1s ease;
}

.login-container input:focus, input:hover {
    border: 2px solid #bebebe;
}


.labelInfo  {
    font-size: 0.8em;
    color: #757575;
    padding-left: 0.5em;
    padding-top: 0.3em;
    transition: 0.3s ease;
}

.login-container .login-button   {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-image: linear-gradient(to bottom, #0080ff, #0064c7);
    color: #fff;

    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    width: 8rem;
    text-align: center;
    font-size: 1em;
}

.login-container .login-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 10px -3px #0070E0;
}

.login-container .register-button a  {
    /* margin-top: 1rem; */
    text-decoration: none;
    
    color: #484848;
    font-size: 1.1em;
    transition: 0.3s ease;
}

input   {
    outline: none;
    font-size: 1em;
    border: 2px solid #ebebeb;
    border-radius: 0.3em;
    transition: 0.5s ease;
    z-index: 10;
    padding-left: 0.5rem;
}
.login-button   {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: #0dc780;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);

    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    width: 8rem;
    text-align: center;
    font-size: 1em;
}

.login-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px -3px #0dc780;
}

.product-all    {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 75%;
    max-width: 80%;
    padding-bottom: 2rem;

    background-color: white;
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    border-radius: 0.75rem;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3rem;

    width: 100%;
    
    padding-top: 3rem;
    padding-bottom: 2rem;
    /* padding-right: 2rem;
    padding-left: 2rem; */
    
    /* border: 2px solid red; */

    width: max-content;
    height: fit-content;
}

.product    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 30rem;

    border-radius: 0.75rem;
    /* border: 2px solid #dadada; */
    box-shadow: 0px 0px 10px 0px #dadada, -10px -10px 10px 0px #ffffff;
    /* border-bottom: 2px solid #dadada; */
}

.product-all-history    {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    padding-bottom: 1.2rem;

    background-color: white;
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    border-radius: 1.25rem;

    margin-left: 4rem;
    margin-top: 2rem;
    padding-top: 3rem;

    width: 50%;
}


.addtoorder {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    max-width: 10rem;

    border: none;
    border-radius: 1.25rem;
    background-image: linear-gradient(to bottom, #222f38, #222f38);
    /* background-color: ; */
    /* background-image: linear-gradient(to bottom, #f8cc18, #e4bf2a); */
    border: 1px solid #000;
    color: #fff;

    transition: transform ease 0.5s, box-shadow ease 0.5s;

    font-size: 1em;
}

.addtoorder:hover   {
    transform: translateY(-05px);
    box-shadow: 0px 3px 2px 0px #a1a1a1;
}

.added-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 1rem;

    /* border: 2px solid red; */
}

.user-info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1rem;

    height: max-content;
    width: 100%;

    border-radius: 1rem;
    /* border: 2px solid #0b9e65 */
    background-color: #0070E0;
    color: #fff;
    box-shadow: 0px 0px 10px -1px #182128
}

.quantity-all   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: 20rem; */
    width: max-content;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;

    border-radius: 1.25rem;
    background-color: #222F38; 
    box-shadow: 0px 0px 10px -1px #182128;
    color: white;
}

.quantity-all form  {
    /* border: 2px solid green; */
    width: 15rem;
}

.quantity-all .quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* border-bottom: 1px solid #292929; */
    width: 90%;
    margin: 0.5rem;

    background-color: transparent;
    color: white;
    /* border: 2px solid red; */
}

.quantity-all .amount   {
    /* border: 2px solid white; */
}

.quantity-all   input{
    width: 2rem;
    height: 2rem;
    border-radius: 0.99rem;
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

.quantity-all .total-price    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    /* padding-left: 1.5rem; */
    width: 90%;
    /* border: 1px solid green; */
}

.quantity-all .total-price .desc {
    /* border: 2px solid red; */
    width: 50%;
    padding-left: 3rem;
}

.quantity-all .total-price input {
    /* width: 50%; */
    width: 50%;
    color: #fff;
    border-radius: 0rem;
    /* border: 1px solid white; */
}

.quantity-all .confirmation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.quantity-all .confirmation .confirmorder{
    background-image: linear-gradient(to bottom, #facd17, #e2be2d);
    border: none;
    border-radius: 0.25rem;
    color:black;
    font-size: 1rem;
    height: 2rem;
    width: max-content;

    transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.quantity-all .confirmation .confirmorder:hover{
    transform: translateY(-05px);
    box-shadow: 2px 2px 2px 0px #818181;
}

button[type="submit"] {
    width: 100%;
    height: 100%;

    background-color: transparent;
    /* color: #fff; */
    border: none;
    color: inherit;
    
    font-size: 1.15rem;
    cursor: pointer;
  }
 
  .nahin-content-1    {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    position: relative;

    width: 80%;
    border-radius: 1.25rem;
    border: 2px solid #a3a3a3;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    /* background: linear-gradient(to bottom, #5a5a5a, #3b3b3b); */
    background: #fff;
}

  .order-info   {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 30%;

    font-family: 'Poppins';
    font-size: 1.1rem;
    color: #000;
  }

  .order-state  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 30%;

    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 1.1rem;
    color: #000;
  }

  .order-state .confirm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
  }

  .order-state .confirm input {

    padding-left: 1.2rem;
    height: 4rem;
    border-radius: 1.25rem;
    border: 2px solid rgb(153, 153, 153);
    /* background-color: rgb(85, 85, 85); */
    background-color: transparent;
    color: #000;
  }

  .submit-button   {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 2rem;
    max-width: 100%;

    border-radius: 1rem;
    color: #fff;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);
    transition: background-image ease 0.5s;

    margin-top: 0.5rem;
  }
  .submit-button:hover {
    /* transform: translateY(-05px); */
    /* box-shadow: 0px 0px 10px 0px #626262; */
    background-image: linear-gradient(to bottom, #0fc07c, #0b9e65);
  }

  .order-state .cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
  }

  .order-state .cancel .cancel-button {    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 2rem;
    max-width: 100%;

    font-size: 1.25rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    border-radius: 1rem;
    border: 2px solid #ebebeb;
    background-image: transparent;
    transition: background-color ease 0.5s;

    margin-top: 0.5rem;
  }
  .cancel-button:hover {
    /* transform: translateY(-05px); */
    /* box-shadow: 0px 0px 10px 0px #626262; */
    background-color: #ebebeb;
  }